<!DOCTYPE html>
<html>
  <head>
    <title>TreeCamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon-16x16.png') %>
    <script>
      window.hipcamp_logo = "<%= image_url('hipcamp_logo.png') %>"
      window.splash_tree_house = "<%= image_url('splash_tree_house_cut.jpg') %>"
      window.tree_hotel_sweden1 = "<%= image_url('treehotel_sweden_1.jpg') %>"
      window.tree_hotel_sweden2 = "<%= image_url('treehotel_sweden_2.jpg') %>"
      window.page_not_found = "<%= image_url('page_not_found.png') %>"
      window.page_not_found2 = "<%= image_url('page_not_found2.png') %>"
      window.tree_camp_logo = "<%= image_url('tree_camp_logo.png') %>"
      window.arrow_up = "<%= image_url('arrow_up.png') %>"
      window.arrow_right = "<%= image_url('arrow_right.png') %>"
      window.arrow_down = "<%= image_url('arrow_down.png') %>"
    </script>
     <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>