<!DOCTYPE html>
<html>
  <head>
    <title>TreeCamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon-16x16.png') %>
    <script>
      window.hipcamp_logo = "<%= image_url('hipcamp_logo.png') %>"
      window.splash_tree_house = "<%= image_url('splash_tree_house_cut.jpg') %>"
      window.tree_hotel_sweden = "<%= image_url('treehotel_sweden_11.jpg') %>"
    </script>
     <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>